
. preto {
            cor de fundo : preto;
        }
              . azul {
            cor de fundo : azul;
        }
        . vermelho {
            plano de fundo :  # FF0000 ;
        }
        . verde {
            plano de fundo :  rgb ( 0 , 255 , 0 );
        }

 @import  url (tiny.css) ( largura mínima : 300 px );
 @import  url (small.css) ( largura mínima : 600 px );
 @import  url (big.css) ( largura mínima : 900 px );

@tela de mídia e ( largura máxima :  300 px ) {
 /* estilos */
}
@tela de mídia e ( largura máxima :  600 px ) {
/* Estilos */
}

tela @media e
( largura mínima :  200 px ) e
( largura máxima :  640 px )

tela @media e
( largura mínima :  600 px ) e
( orientação : paisagem)

tela @media e
( largura máxima :  380 px ) e
( orientação : retrato)

          
div {
      largura máxima :  150 px ;
 alinhamento vertical : meio;
}

                 
           

}

    . divisões {
            largura :  200 px ;
            altura :  300 px ;
        }
        . divAbsoluto {
            cor de fundo : darkcyan;
            posição : absoluto;
            superior : 80 px ;
            esquerda : 30 px ;
        }
        . divRelativo {
            cor de fundo : burlywood;
            posição : relativa;
            superior : 120 px ;
            esquerda : 300 px ;
        }
        . divFixed  UL  LI {
           
            posição : fixo;
            
           exibição : bloco em linha;
           padding-right :  4 px ;
        }
        . divStatic {
            cor de fundo : verde escuro;
            posição : estático;
            superior :  300 px ;
            esquerda :  300 px ;
        }
        . divSticky  UL  LI {
            
            posição : pegajoso;
            superior :  0 px ;
         
           exibição : bloco em linha;
           padding-right :  4 px ;

        }
        . divEsquerda {
            cor de fundo : azul violeta;
            cor : branco;
            flutuar : esquerda;
        }
        . divDireita {
            cor de fundo : azul escuro;
            cor : branco;
            flutuar : direita;
        }
        . divAlignCenter {
            margem :  0 automático;
           largura :  50 % ;
           
         
         }
         . claro {
             claro : ambos;
         }