.preto {
  background-color: black;
}

.azul {
  background-color: blue;
}

.vermelho {
  background: #FF0000;
}

.verde {
  background: rgb(0, 255, 0);
}

@import url(tiny.css) (min-width:300px);
@import url(small.css) (min-width:600px);
@import url(big.css) (min-width:900px);

@media screen and (max-width: 300px) {
  /* estilos */
}

@media screen and (max-width: 600px) {
  /* Estilos */
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  /* Estilos */
}

@media screen and (min-width: 600px) and (orientation:landscape) {
  /* Estilos */
}

@media screen and (max-width: 380px) and (orientation:portrait) {
  /* Estilos */
}

.divs {
  width: 200px;
  height: 300px;
}

.divAbsolute {
  background-color: darkcyan;
  position: absolute;
  top: 80px;
  left: 30px;
}

.divRelative {
  /*base de baixo*/
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 109.5%;
  left: 0.1%;
  height: 12%;
  width: 100.2%;

  @import url(tiny.css) (min-width:300px);
  @import url(small.css) (min-width:600px);
  @import url(big.css) (min-width:900px);

  @media screen and (max-width: 300px) {
    /* estilos */
  }

  @media screen and (max-width: 600px) {
    /* Estilos */
  }

  @media screen and (min-width: 200px) and (max-width: 640px) {
    /* Estilos */
  }

  @media screen and (min-width: 600px) and (orientation:landscape) {
    /* Estilos */
  }

  @media screen and (max-width: 380px) and (orientation:portrait) {
    /* Estilos */
  }

}

.divFixed UL LI {

  position: fixed;

  display: inline-block;
  padding-right: 4px;
}

.canto {

  position: fixed;
  width: 18%;  
  left: 1%;
  background-color: #f7fbfe;

}
.topo {

  background-color: rgb(92, 6, 6);
  position: static;
  text-align: center;
  font-size: 21px;
  font-family: calibri;
  color: #f7fbfe;
  background-color: #168607;
  width: 99%;
  /*69% canto direito*/
  height: 16%;
  /*80% canto abaixo*/
  position: absolute;
  top: 0.1%;
  box-shadow: 2px 2px 5px #4F4F4F;

  @import url(tiny.css) (min-width:300px);
  @import url(small.css) (min-width:600px);
  @import url(big.css) (min-width:900px);

  @media screen and (max-width: 300px) {
    /* estilos */
  }

  @media screen and (max-width: 600px) {
    /* Estilos */
  }

  @media screen and (min-width: 200px) and (max-width: 640px) {
    /* Estilos */
  }

  @media screen and (min-width: 600px) and (orientation:landscape) {
    /* Estilos */
  }

  @media screen and (max-width: 380px) and (orientation:portrait) {
    /* Estilos */
  }
}

.divSticky UL LI {

  position: sticky;
  top: 15%;

  width: 100%;
  display: inline-block;
  padding-right: 4px;

}

.divEsquerda {
  background-color: blueviolet;
  color: white;
  float: left;
}

.divDireita {
  background-color: darkblue;
  color: white;
  float: right;
}

.divAlignCenter {
  margin: 0 auto;
  width: 50%;

}

.clear {
  clear: both;
}

body {
  background-image: url("JAYELE MOURA SOUSA/projeto/ifba.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home1 {
  background-color: #000000;
  font-size: 20px;
  top: 13%;
  left: 0.5%;
  /*canto direito*/
  box-shadow: 2px 2px 5px black;
  position: static;
  text-align: center;
  font-size: 24px;
  font-family: calibri;
  color: #f7fbfe;
  width: 99%;
  /*69% canto direito*/
  height: 15%;
  /*80% canto abaixo*/
  position: absolute;

  @import url(tiny.css) (min-width:300px);
  @import url(small.css) (min-width:600px);
  @import url(big.css) (min-width:900px);

  @media screen and (max-width: 300px) {
    /* estilos */
  }

  @media screen and (max-width: 600px) {
    /* Estilos */
  }

  @media screen and (min-width: 200px) and (max-width: 640px) {
    /* Estilos */
  }

  @media screen and (min-width: 600px) and (orientation:landscape) {
    /* Estilos */
  }

  @media screen and (max-width: 380px) and (orientation:portrait) {
    /* Estilos */
  }

}

.home2 {
  top: 28%;
  right: auto;
  width: 99%;
  /*69% canto direito*/
  height: 79%;
  /*80% canto abaixo*/
  position: absolute;
  left: 0.5%;
  /*canto esquerdo*/
  box-shadow: 2px 2px 5px #4F4F4F;

  @import url(tiny.css) (min-width:300px);
  @import url(small.css) (min-width:600px);
  @import url(big.css) (min-width:900px);

  @media screen and (max-width: 300px) {
    /* estilos */
  }

  @media screen and (max-width: 600px) {
    /* Estilos */
  }

  @media screen and (min-width: 200px) and (max-width: 640px) {
    /* Estilos */
  }

  @media screen and (min-width: 600px) and (orientation:landscape) {
    /* Estilos */
  }

  @media screen and (max-width: 380px) and (orientation:portrait) {
    /* Estilos */
  }
}


@import url(tiny.css) (min-width:300px);
@import url(small.css) (min-width:600px);
@import url(big.css) (min-width:900px);

@media screen and (max-width: 300px) {
  /* estilos */
}

@media screen and (max-width: 600px) {
  /* Estilos */
}

@media screen and (min-width: 200px) and (max-width: 640px) {
  /* Estilos */
}

@media screen and (min-width: 600px) and (orientation:landscape) {
  /* Estilos */
}

@media screen and (max-width: 380px) and (orientation:portrait) {
  /* Estilos */
}




.text {
  color: #0cd1d1;
  font-family: Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-align: left;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 60px;
}

.buttoni {
  font-family: Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: white;
  padding: 16px 32px;
  text-align: left;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttoni1 {
  background-color: #1C1C1C;
  color: #f7fbfe;
}

.buttoni1:hover {
  background-color: #1C1C1C;
  color: #808080;
}