@import url('https://fonts.googleapis.com/css2?family= família= Corvo-marinho+Ereto & display=swap')

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

body {
    font-size: 100%;
    background: #9e9e9e;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 20px;
}

.conteudo {
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-principal {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 16px;   
}

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 50px;
    color: #FFF2E7;
}

.conteudo-principal-escrito-subtitulo {
   font-family: 'Sarala', sans-serif;
   font-weight: 400;
   font-size: 20px;
   color: #FFF2E7;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color:#FFF2E7;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
   font-weight: 300;
   font-size: 18px;
   color: #FFF2E7;
}

.rodape {
padding: 22px;
border-top: 0.4px solid #FFF2E7;

}

.rodape-imagem {
    height: 80px;
    display: block;
    margin: 0 auto;
}