

body {
background-color: #1C1C1C;
}

.perfi {
border-radius: 50%;
  display: block;
  margin-left: 10%;
  float:left;
              position:absolute;
top:25%;
}
		
		.verticals {
            border-left: 6px solid white;
            height: auto;
            position:relative;
			top: 25%;
            margin-left: 40%;
			margin-bottom:15px;
			bottom: 20%;

        }
		
		 .capa
{	
color:black;
font-size:28px;
font-family: Calibri, sans-serif;
  font-weight: lighter;
text-align:left;
margin-left:3%;
margin-right:10%

}
	
.text {
color: #f7fbfe;
font-family: Geneva, Verdana, sans-serif;
font-size:15px;
text-align:left;
margin-left:25px;
margin-right:25px;

}

.buttoni {
font-family: Geneva, Verdana, sans-serif;
font-size:15px;
color: white;
  padding: 16px 32px;
  text-align:left;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  }
  
.buttoni1 {
  background-color:  #1C1C1C;; 
  color: #f7fbfe; 
}

.buttoni1:hover {
  background-color:#1C1C1C;;
  color: #808080	;
}
